<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <remove extension=".png" />
                <remove extension=".img" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".img" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
    </system.webServer>
</configuration>
